<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4>Se encontraron <%= @user.errors.count %> errores:</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :username %>
  <%= form.text_field :username %>
  <br><br>

  <%= form.label :email %>
  <%= form.email_field :email, placeholder: "example@example.com" %>
  <br><br>

  <%= form.label :password %>
  <%= form.password_field :password %>
  <br><br>

  <%= form.submit "Actualizar" %>
<% end %>